
/* Dialog */
#dialog-add-task-form {
    margin: 50px 85px;
}


#dialog-add-task-form label {
    margin-top: 13px;
}


#task-submit-container {
    float: right;
    margin: 13px;
}


#task-submit-container::after {
    clear: both;
}

.datagrid-row {
    height: 50px !important;
}

